.contact {
  padding: 25px 0 450px 0;
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact i {
  padding: 0 20px;
  font-size: 0.8em;
}

.contact h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.9em;
  border: 5px solid #555;
  background-color: black;
  padding-top: 20px;
  height: 75px;
  color: white;
  font-weight: 500;
  line-height: 40px;
  padding-left: 50px;
  text-align: center;
}

#comments {
  margin-top: 0;
}

#contactform {
  height: 215px;
}

#contactform .right {
  float: right;
}

#contactform input,
#contactform textarea {
  margin-bottom: 15px;
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: red;
}

#contactform input {
  padding-left: 15px;
  height: 44px;
  border-radius: 0;
}

#contactform textarea {
  padding: 15px;
  height: 218px;
  border-radius: 0;
}

#contactform .btn {
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: 1px solid #333;
  background: black;
  color: white;
}

#contactform .btn:hover {
  background: red;
}

#map-canvas {
  width: 100%;
  height: 135px;
  margin-bottom: 25px;
  border: 2px solid #fff;
}
